<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django vs React/Node</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" >
</head>
<body>
    <main>
        <h1>Django VS React/Node</h1>
        <h3>Choose your framework</h3>

        <div id="choices">
            <section class="framework">
                <img src="assets/django-logo-negative.png" alt="django" height=100 width=100>
                <button>Django</button>
                <!-- <img src="smiley.gif" alt="Smiley face" height="42" width="42"> -->
            </section>

            <section class="framework">
                
                <button>React / Node</button>
            </section>
        </div>

        </section>
    </main>
</body>
</html>

