body {
    background-color :#61DAFB;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
    text-align: center;
    color : #0F3E2D;
}

#choices {
    display: flex;
    justify-content: center;
    /* border: 1px solid blue; */
}

button {
    margin: 10px;
    border-radius: 30px;
    background-color: #0F3E2D;
}

button:active {
    outline : none;
    cursor: pointer;
}

button:hover {
    opacity: 80%;
    transition: .3s;
}

#react {
    background-color: white;
    border: 5px solid #0F3E2D;
}

#django {
    border: 5px solid black;
}

button:hover {
    border : 5 px solid #0F3E2D;
}

section img {
    display: block;
    border-radius: 40px;

}




