body {
    background-color : powderblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
    text-align: center;
    color : darkgreen;
}

#choices {
    display: flex;
    justify-content: center;
    /* border: 1px solid blue; */
}

button {
    margin: 10px;
}

section img {
    display: block;
}




